
body{
    background-color: rgb(221, 221, 221);
    color: black;
}

.conteneur{
    margin-left: 80px;
    margin-right: 10px;
    text-align: center;
}

h1{
    text-decoration: underline;
    margin-bottom: 15px;
    margin-top: 50px;
}
/* navigation rapide */
.bande_gauche{
    margin-top: 8px;
    padding-bottom: 5px;
    z-index: 1;
    rotate: 90;
    position: fixed;
    width: 65px;
    height: 100vh;
    background-color: #AAACB0;
    border-right: solid 2px #6d6f74;
}
.bande_gauche:hover ~ .navigation_rapide{
    margin-left: 0px;
}
.bande_gauche p{
    writing-mode: vertical-lr;
    text-align: center;
    font-size: 50px;
    color: #7a7c7f;
    margin-top: 170%;
    margin-left: 0px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.navigation_rapide{
    z-index: 2;
    transition: all 1s;
    height: 100vh;
    width: 280px;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -300px;
    position: fixed;
    border-right: solid 2px #818387;
    background-color: #AAACB0;
}
.navigation_rapide:hover{
    margin-left: 0px;
}

.fleche_menu {
    transition: transform 0.3s ease;
    display: inline-block;
}




/* sommaire */
.sommaire{
    image-orientation: 0deg;
}
.sommaire a{
    color: black;
    text-decoration: none;
}
.sommaire_titre{
    text-decoration: underline;
    font-size: 32px;
    margin-bottom: 40px;
}
.sommaire_partie_titre{
    color: black;
    margin-top: -30px;
    font-size: larger;
    margin-bottom: 40px;
}
.sommaire_partie{
    color: black;
    display: none;
    margin-top: -30px;
    padding-bottom: 40px;
    margin-left: 15px;
}
.sommaire_partie p{
    margin-bottom: 0px;
}
.sommaire img{
    width: 25px;
}



/* bande du haut */
.bande_haut{
    margin-top: -8px;
    padding-top: 8px;
    padding-left: 90px;
    padding-bottom: 6px;
    background-color: #985F99;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 70px;
    padding-bottom: 10px;
}
.bande_haut .titre{
    font-size: 30px;
    text-align: left;
}
.bande_haut .bouton_bg{
    min-width: 40px;
    max-width: 40px;
    min-height: 20px;
    margin-left: 90%;
    margin-top: -35px;
    padding-top: 17px;
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 10px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bande_haut .bouton_bg img{
    margin-top: -20px;
    border: solid 0px;
    width: 40px;
}

/* La barre du bas */
.bande_bas{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: -7px;
    margin-left: -13px;
    padding-left: 13px;
    padding-right: 13px;
    background-color: #985F99;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 5%;
}
.bande_bas .titre_bas{
    text-align: left;
}
.bande_bas .persone{
    margin-left: 65%;
}


/* parties */
.partie{
    padding: 5px;
    border: solid 2px #594367 ;
    border-radius: 15px;
    background-color: #9684A1;
    margin-top: 30px ;
}

.partie_titre{
    font-size: larger ;
    margin-bottom: 10px;
    color: rgb(95, 62, 62);
    text-align: center;
}
.partie_texte img{
    width: 500px;
}
.partie_texte p{
    margin: 0;
    padding: 0;
}
.sous_partie{
    padding: 5px;
    padding-bottom: 20px;
    border-bottom: solid 2px #594367;
    margin-bottom: 40px;
    text-align: left;
}
.sous_partie_fin{
    padding: 5px;
    text-align: left;
}
.partie li{
    text-align: left;
}

.partie img{
    max-width: 100%;
    max-height: 100%;
}

pre {
    border-radius: 7px;
}


.partie a{
    background-color: #6d6f74;
    color: black;
    padding: 5px;
    margin: 20px;
    text-decoration: none;
    border-radius: 7px;
    border: solid 2px #3e4046;
}


li {
    margin-bottom: 20px;
}

ul ul li{
    margin-bottom: 0px;
}



/* les tables */
table tr th{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

table tr td{
    padding: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

table {
    margin-left: 20px;
    margin-top: 15px;
    padding: 15px;
    border: solid 2px #3e4046;
}


.python{
    color: rgb(164, 46, 46);
    font-size: 20px;
}